<div id="wiki-wrapper" class="history">
<div id="head">
  <h1>Login</h1>
</div>
<div id="wiki-content" class="create edit">
  <div class="has-rightbar">
    <form action="/login" method="post" id="login-form">
      <input type="text" name="userid">
      <div class="minibutton">
        <a href="#" id="login-submit">Login</a>
      </div>
    </form>
  </div>
</div>
</div>
